---
layout: layout
---

<article>
    <h1>{{ page.title }}</h1>
    <p>
        <span>{{ page.date | date: '%B' }}</span>
        <span>{{ page.date | date: '%d' }}</span>
        <span>{{ page.date | date: '%Y' }}</span>
    </p>
    <div>
        {{ content }}
    </div>
    <nav>
        {% if page.previous %}
            <span>Previous：<a href="{{ page.previous.url }}" rel="prev" title="{{ page.previous.title }}">{{ page.previous.title }}</a></span>
        {% endif %}
        {% if page.next %}
            <span>Next：<a href="{{ page.next.url }}" rel="next" title="{{ page.next.title }}">{{ page.next.title }}</a></span>
        {% endif %}
    </nav>
</article>
